@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
}

body{
    padding: 2.5em 3em;
    width: 100wh;
    height: 100vh;
    background-image: url("/assets/wp5532607-the-last-of-us-desktop-wallpapers.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header a{
    color: #f5f5f5;
    padding: 18px;
    background-color:#0F1417;
    font-size: 1em;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
}
header a:hover{
    text-decoration: none;
    color: #0F1417;
    background-color:#B6ECF2;
    border-radius: 5px;
    transition: ease-in-out 0.3s;
}


nav img{
    width: 2em;
    height: inherit;
}
#img_logo_header img{
    width: 4em;
}
main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7em 0;
}
.text_main{
    display: flex;
    flex-direction: column;
}
main span{
    color: #f5f5f5;
    margin-bottom:5px ;
}
span:nth-child(1){
    color: #448aa6;
    text-transform: uppercase;
    font-size: 12px;
  
}
span:nth-child(2){
    font-size: 50px;
    font-weight:600;
    letter-spacing: 10px;
    margin-bottom: 0;
}
span:nth-child(3){
    font-size: 12px;
    letter-spacing: 10px;
    color:#bac9d57a ;
}
.button_discover{
    width: 8rem;
    margin-top: 2em;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
    color: #f5f5f5;
    padding: 20px ;
    background-color: #448aa6f0;
}
.button_discover:hover{
    text-decoration: none;
    text-align: center;
    color: #f5f5f5;
    padding: 20px ;
    background-color:#161273;
    border-radius: 5px;
    transition: ease-in-out 0.3s;
}
.nav_side{
    width: 100%;
    max-width: 20px;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: end;
    justify-content: center;
    flex-direction: column;
    position: relative;
    gap: 0.8em;
}
.sidebar{
    width: 10%;
    height: 100%;
}
.sidebar img{
    width: 23px;
    transition: ease-in-out 0.81s;
 
}.sidebar img:hover{
    transform: scale(1.1);
}